:root{
    --primary-text-color: #212121; 
}
body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}  
.list{
    list-style: none;
}

.site-nav .link{
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 2%;
}
.site-nav .current,
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: #2196F3;
}
.auth-nav .link{
    font-size: 14px;
    text-decoration: none;
    color: #757575;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 3%;
    color: var(--primary-text-color);
    text-decoration: none;
}
.logo span{
    color: #2196F3;
}
.section-order{
    background-color: #2F303A;
    color: #ffffff;
}
.section-order .section-title{
    text-transform: uppercase;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
}

.section-order .button{
    font-style: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 6%;
    text-align: center;
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: #ffffff;
}
.section-features,
.section-about{
    background-color: #E5E5E5;
}
.section-features .title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 3%;
    color: var(--primary-text-color);
}
.section-features .description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    color: #757575;
}
.section-about .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
}
.section-team{
    background-color: #F5F4FA;
}
.section-team .section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 3%;
    text-align: center;
}
.section-team .teammate{
    background-color: #ffffff;
    width: 270px;
    height: 368px;
    border-radius: 0 0 4px 4px;
}
.teammate .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    color: var(--primary-text-color);
    text-align: center;
}
.teammate .description{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 3%;
    text-align: center;
    color: #757575;
}
.page-footer{
    background-color: #2F303A;
}

.page-footer .logo,
.page-footer .link.address{
    color: #ffffff;
}
.page-footer .link{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, .6);
    font-style: normal;
    text-decoration: none;
}
.section-works .button{
    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    border: 0;
    color: var(--primary-text-color);
}
.section-works .button:hover,
.section-works .button:focus{
    color: #ffffff;
    background-color: #2196F3;
}

.works .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 6%;
    color: var(--primary-text-color);
}
.works .description{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 3%;
    color: #757575;
}
.works>li{
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}