:root{
    --text-color: #212121;
    --accent: #2196F3;
    --primary-grey: #757575;
    --primary-white: #ffffff;
}

body{
    background-color: var(--primary-white);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: .03em;
}  

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.site-nav .link{
    color: var(--text-color);
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: .02em;
}

.site-nav .current,
.logo span,
.contact-nav .link:hover,
.contact-nav .link:focus{
    color: var(--accent);
}

.contact-nav .link{
    color: var(--primary-grey);
    font-weight: 500;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: var(--text-color);
}

.section-order{
    background-color: #2F303A;
    color: #ffffff;
}
.section-order .section-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    letter-spacing: .06em;
}

.section-order .button{
    font-style: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: .03em;
    text-align: center;
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;
    background-color: var(--accent);
    color: var(--primary-white);
}

.section-features .title{
    text-transform: uppercase;
    line-height: calc(16.41/14);
}

.section-features .description{
    line-height: calc(24/14);
    color: var(--primary-grey);
}

.section-about .title{
    font-size: 36px;
    line-height: calc(42.19/36);
    text-align: center;
}

.section-team .section-title{
    font-size: 36px;
    line-height: calc(42.19/36);
    text-align: center;
}

.section-team .teammate{
    background-color: #ffffff;
    width: 270px;
    height: 368px;
    border-radius: 0 0 4px 4px;
}

.teammate .title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(18.75/16);
    text-align: center;
}

.teammate .description{
    font-size: 16px;
    line-height: calc(18.75/16);
    text-align: center;
    color: var(--primary-grey);
}

.page-footer{
    background-color: #2F303A;
}

.page-footer .link{
    line-height: calc(24/14);
    color: rgba(255, 255, 255, .6);
    font-style: normal;
    text-decoration: none;
}

.page-footer .logo,
.page-footer .link.address{
    color: var(--primary-white);
}

.section-works .button{
    background-color: #F5F4FA;
    font-family: inherit;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    border: 0;
}

.section-works .active,
.section-works .button:hover,
.section-works .button:focus{
    color: var(--primary-white);
    background-color: var(--accent);
}

.works .title{
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: .06em;
}
.works .description{
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--privary-grey);
}
.works>li{
    background-color: var(--primary-white);
    border: 1px solid #eeeeee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
